# Visual Studio User-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Idea files
.idea/*

# Mac files
.DS_Store

# Byte-compiled / optimized / DLL files
*.manifest
*.spec

# Jekyll dev or build files
_site/*
_development_tool/*
.sass-cache/*
*.css.map
*.scssc
.bundle/*

# Theme Gem files
Gemfile.lock
*.gem
.gems
jekyll-theme-type-on-strap.gemspec

# Node js files
**/node_modules/*
*-test.md
*copy.md
.jekyll-cache/*
test/*
